a {
  color: #7ec484;
}
body {
  margin: 0px;
}
button {
  font-family: inherit;
}
input {
  font-family: inherit;
}
::-webkit-scrollbar {
  display: none;
}
.bg {
  width: 100%;
  margin: 0px;
  min-height: 100vh;
  background-color: #25344f;
  font-family: "Source Code Pro", monospace;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrapper-app {
  box-sizing: border-box;
  width: 100vw;
  flex: 1;
}
.wrapper-horozontial {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  padding: 0px;
  overflow-y: auto;
}
.nav-link {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-left: 3px solid #7ec484;
  border-bottom: 2px solid #25344f;
  background-color: #25344f;
  color: #7ec484;
  text-decoration: none;
  text-align: center;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 10px;
}
.nav-link:nth-child(1) {
  border-left: none;
}
.nav-link:active {
  border-bottom: 2px solid #7ec484;
}
.nav-link:hover {
  border-bottom: 2px solid #7ec484;
}
.link-warning {
  color: #25344f;
  font-size: 18px;
  margin-left: 10px;
  width: 50%;
}
.container-recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.item-wrapper {
  box-sizing: border-box;
  position: relative;
  padding: none;
  width: 33vw;
  height: 33vw;
  z-index: 1;
  border: 1px solid #25344f;
}
.wrapper-tooltip-warn {
  font-size: 18px;
}
.wrapper-item-detail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: rgba(28, 28, 28, 0.8);
  display: grid;
  grid-template-rows: 50% 50%;
  color: #7e7676;
}
.item-detail-action {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  height: 75%;
}
.item-header {
  font-size: 24px;
  font-variant: small-caps;
  margin: 15px;
  margin-bottom: 5px;
  color: lightgrey;
}
.item-subheader {
  font-size: 18px;
  font-variant: small-caps;
  margin: 15px;
  margin-bottom: 5px;
  color: lightgrey;
}
.item-detail {
  margin-right: 15px;
  margin-left: 15px;
}
.wrapper-item-action {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 3;
}
.wrapper-eat-form {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: rgba(28, 28, 28, 0.8);
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.wrapper-eat-action {
  display: flex;
}
.wrapper-food-empty {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: rgba(28, 28, 28, 0.8);
  color: #7e7676;
  display: grid;
  grid-template-rows: 50% 50%;
}
.wrapper-empty-action {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}
.wrapper-edit-item {
  margin-top: 0px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-right: 1px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px;
  border: none;
  margin: 0px;
}
.wrapper-img-upload {
  margin: 20px;
  display: flex;
  flex-direction: column;
  color: #f9f9f9;
  text-align: center;
}
.wrapper-scan {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.wrapper-button-action {
  display: flex;
  margin: 10px 0px 10px 0px;
}
.wrapper-recipe-form {
  display: flex;
  width: 100%;
}
.wrapper-recipe-block {
  padding: 15px;
  width: 40vw;
  padding-top: 0px;
  padding-bottom: 0px;
}
.wrapper-recipe-header {
  margin-left: 25px;
  font-variant: small-caps;
  color: #7e7676;
  font-size: 20px;
}
.wrapper-input-unit {
  display: flex;
}
.wrapper-recipe-search {
  box-sizing: border-box;
  color: #f9f9f9;
  padding: 20px;
}
.wrapper-recipe-picker {
  box-sizing: border-box;
  border: 4px solid #7ec484;
  margin: 10px;
  padding-bottom: 15px;
  width: max-content;
}
.wrapper-recipe-list {
  overflow-y: auto;
  min-width: max-content;
}
.wrapper-recipe-category {
  box-sizing: border-box;
  width: 100%;
}
.wrapper-recipe-content {
  color: #7e7676;
  margin: 15px;
  margin-right: 25px;
}
.wrapper-recipe-contentheader {
  max-width: 33vw;
}
.wrapper-auth {
  max-width: 400px;
  margin: auto auto auto auto;
  padding: 25px;
  color: #7ec484;
  font-size: 28px;
  text-align: center;
}
.wrapper-loading {
  display: flex;
  justify-content: center;
}
.wrapper-food-form {
  display: flex;
  padding: 10px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
.recipe-ingredient {
  color: #f9f9f9;
  border-top: 1px solid #7e7676;
  margin: 5px;
  padding: 5px;
}
.recipe-ingredient:nth-child(1) {
  border-top: none;
}
.recipe-list-header {
  font-variant: small-caps;
  color: #7e7676;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.recipe-search-header {
  font-variant: small-caps;
  color: #f9f9f9;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.recipe-list-link {
  color: #25344f;
  background-color: inherit;
  width: 100%;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.recipe-list-item {
  padding: 3px;
  padding-right: 5px;
  color: #25344f;
  background-color: #7e7676;
  text-align: center;
}
.recipe-list-item:nth-child(even) {
  background-color: #7f5b56;
}
.form-eat {
  margin: 5px 0px 5px 0px;
}
.input-auth {
  box-sizing: border-box;
  max-width: 100%;
  font-size: 24px;
  background-color: #25344f;
  color: #f9f9f9;
  border: 5px solid #7ec484;
  padding: 15px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.input-eat {
  box-sizing: border-box;
  font-size: 24px;
  background-color: #25344f;
  border: 1px solid #7e7676;
  color: #7e7676;
  max-width: 50%;
  border-right: none;
  height: 32px;
}
.input-recipe {
  box-sizing: border-box;
  background-color: #25344f;
  color: #f9f9f9;
  border: 2px solid #7ec484;
  padding: 5px;
  width: 100%;
  margin: 0px;
}
.input-recipe-title {
  box-sizing: border-box;
  font-size: 24px;
  font-variant: small-caps;
  background-color: #25344f;
  border: 2px solid #7ec484;
  margin-bottom: 1em;
  width: 80%;
  color: whitesmoke;
  padding: 10px;
}
.input-unit {
  box-sizing: border-box;
  background-color: inherit;
  color: #7e7676;
  width: 100%;
  border: 2px solid #7e7676;
  font-size: 22px;
  padding: 5px;
}
.input-fridge-search {
  box-sizing: border-box;
  width: 100%;
  font-variant: small-caps;
  font-size: 28px;
  background-color: #25344f;
  border: 2px solid #7ec484;
  color: #7e7676;
  padding: 15px;
}
.input-food {
  background-color: #25344f;
  border: 2px solid #7ec484;
  color: #f9f9f9;
  font-size: 18px;
  padding: 5px;
  width: 100%;
}
.file-upload {
  color: #f9f9f9;
  margin: 20px;
}
.dropdown-eat {
  box-sizing: border-box;
  margin: none;
  color: #7e7676;
  background-color: #25344f;
  width: 50%;
  font-size: 24px;
  border-left: none;
  height: 32px;
}
.dropdown-recipe-list {
  box-sizing: border-box;
  margin: none;
  color: #7e7676;
  background-color: #25344f;
  font-size: 18px;
  height: 32px;
  width: 100%;
}
.dropdown-base {
  box-sizing: border-box;
  margin: none;
  color: #7e7676;
  background-color: #25344f;
  font-size: 18px;
  height: 32px;
}
.slider-wrapper {
  width: 100%;
  margin: 0px;
}
.slider-base {
  margin: 0px;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  color: #25344f;
  background: rgba(148, 148, 150, 0.4);
  border: 1px solid #25344f;
  outline: none;
}
.slider-base::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 20px;
  background: #7ec484;
}
.slider-display {
  text-align: center;
  font-size: 22px;
  font-variant: small-caps;
  color: whitesmoke;
  margin: 10px;
}
.item-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.img-icon {
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin-right: 10px;
}
.overlay-expiry {
  background-color: rgba(214, 202, 73, 0.8);
  color: rgba(0, 0, 0, 1);
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 12vw;
  font-stretch: expanded;
  padding-bottom: 10%;
  font-weight: bolder;
  text-align: center;
  box-sizing: border-box;
}
.button-id-food {
  border: none;
  background-color: inherit;
  width: 100%;
  font-size: 24px;
  text-anchor: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-auth {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #25344f;
  border: 5px solid #7ec484;
  color: #7ec484;
  padding: 15px;
  font-size: 24px;
}
.button-list-add {
  background-color: inherit;
  border: 2px solid #7e7676;
  color: #7e7676;
  font-size: 22px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.button-detail {
  width: 100%;
  padding: 15px;
}
.button-eat {
  background-color: #25344f;
  border: 1px solid #7e7676;
  color: #7e7676;
  padding: 10px;
  width: 100%;
}
.button-action {
  padding: 0px;
  color: #f9f9f9;
  background-color: #25344f;
  border: none;
  opacity: 80%;
  z-index: 4;
}
.button-action:hover {
  background-color: #7e7676;
  color: #25344f;
}
.button-base {
  background-color: #25344f;
  color: #f9f9f9;
  border: 1px solid #7ec484;
  padding: 10px;
}
.button-recipe-parse {
  box-sizing: border-box;
  background-color: #25344f;
  color: #7e7676;
  border: 1px solid #7ec484;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}
.button-recipe-add {
  box-sizing: border-box;
  background-color: #25344f;
  color: #7e7676;
  border: 1px solid #7e7676;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}
.button-recipe-submit {
  box-sizing: border-box;
  background-color: #25344f;
  color: #7e7676;
  border: 1px solid #7e7676;
  padding: 10px;
  margin: 25px;
}
.button-link {
  width: 100%;
}
.food-button {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  border: 3px solid #7ec484;
  color: #f9f9f9;
  background-color: inherit;
  font-variant: small-caps;
  font-size: 16px;
}
.list-container {
  box-sizing: border-box;
  width: max-content;
  display: flex;
  flex-direction: column;
}
.list-wrapper {
  box-sizing: border-box;

  width: 100%;
  background-color: #25344f;
  color: #f9f9f9;
  border: 2px solid #7e7676;
  margin-right: 2px;
}
.list-style {
  width: 100%;
  box-sizing: border-box;
  margin: 10px;
  text-justify: middle;
  font-size: 24px;
}
.textblock-recipe {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  height: fit-content;
  background-color: #25344f;
  color: #f9f9f9;
  border: 2px solid #7e7676;
}
.input-search-warn {
  background-color: #d6ca49;
  font-size: 18px;
  color: black;
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.input-list {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #7e7676;
  font-size: 24px;
  background-color: #25344f;
  color: #7e7676;
  height: 100%;
}
.button-list {
  width: 100%;
  box-sizing: border-box;
  background-color: #1a9c1a;
  color: #25344f;
  text-align: center;
  text-justify: center;
  font-stretch: expanded;
  border: none;
  font-weight: bolder;
  font-size: 28px;
}
.button-edit {
  border: none;
  width: 100%;
  background-color: #d6ca49;
  padding: 5px;
  text-align: center;
  text-justify: center;
  font-stretch: expanded;
  font-weight: bolder;
  font-size: 28px;
  margin-right: 5px;
}
.button-warn {
  height: 100%;
  border: none;
  width: max-content;
  background-color: #d6ca49;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  text-justify: center;
  font-stretch: expanded;
  font-weight: bolder;
  font-size: 28px;
  margin-right: 10px;
}
.button-delete {
  width: 100%;
  box-sizing: border-box;
  background-color: #d53529;
  color: #25344f;
  text-align: center;
  text-justify: center;
  font-stretch: expanded;
  border: none;
  font-weight: bolder;
  font-size: 28px;
}
.icon-button {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.bg {
  display: flex;
}
.main-menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: #25344f;
  background-color: #25344f;
  height: max-content;
}
div {
  max-width: 100vw;
}
#add {
  font-size: 54px;
}
@media (min-width: 768px) {
  .colors {
    color: #d53529;
    color: #7ec484;
    color: #7e7676;
    color: #25344f;
  }
  a {
    color: #7ec484;
  }
  body {
    margin: 0px;
  }
  button {
    font-family: inherit;
  }
  input {
    font-family: inherit;
  }
  p {
    color: #f9f9f9;
  }
  .bg {
    width: 100%;
    margin: 0px;
    min-height: 100vh;
    background-color: #25344f;
    font-family: "Source Code Pro", monospace;
  }
  .flex-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .wrapper-app {
    box-sizing: border-box;
    width: 100vw;
    flex: 1;
  }
  .wrapper-horozontial {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    padding: 0px;
    overflow-y: auto;
  }
  .button-style {
    margin: 1px;
    border: 2px solid #7ec484;
    color: #25344f;
    background-color: #7e7676;
  }
  .nav-link {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-left: 3px solid #7ec484;
    border-bottom: 2px solid #25344f;
    background-color: #25344f;
    color: #7ec484;
    text-decoration: none;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .nav-link:nth-child(1) {
    border-left: none;
  }
  .nav-link:active {
    border-bottom: 2px solid #7ec484;
  }
  .nav-link:hover {
    border-bottom: 2px solid #7ec484;
  }
  .link-warning {
    color: #25344f;
    font-size: 18px;
    margin-left: 10px;
    width: 50%;
  }
  .overlay {
    z-index: 50;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .popup {
    z-index: 100;
    position: fixed;
    top: 200px;
    left: 200px;
    right: 200px;
    background-color: white;
  }
  .shop-form-style {
    display: flex;
    height: 100%;
  }
  .shop-input-style {
    display: flex;
    flex-direction: column;
  }
  .text-box {
    background-color: #7e7676;
    border: 2px groove #7ec484;
    color: #25344f;
    box-sizing: border-box;
    margin: 0px;
    height: 50%;
  }
  .container-recipe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .item-wrapper {
    box-sizing: border-box;
    position: relative;
    padding: none;
    width: 20vw;
    height: 20vw;
    max-width: 33vw;
    max-height: 33vw;
    z-index: 1;
    border: 1px solid #25344f;
  }
  .wrapper-tooltip-warn {
    font-size: 18px;
  }
  .wrapper-item-detail {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(28, 28, 28, 0.8);
    display: grid;
    grid-template-rows: 50% 50%;
    color: #7e7676;
  }
  .item-detail-action {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    height: 75%;
  }
  .item-header {
    font-size: 24px;
    font-variant: small-caps;
    margin: 15px;
    margin-bottom: 5px;
    color: lightgrey;
  }
  .item-subheader {
    font-size: 18px;
    font-variant: small-caps;
    margin: 15px;
    margin-bottom: 5px;
    color: lightgrey;
  }
  .item-detail {
    margin-right: 15px;
    margin-left: 15px;
  }
  .wrapper-item-action {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    z-index: 3;
  }
  .wrapper-eat-form {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    background-color: rgba(28, 28, 28, 0.8);
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .wrapper-eat-action {
    display: flex;
  }
  .wrapper-food-empty {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    background-color: rgba(28, 28, 28, 0.8);
    color: #7e7676;
    display: grid;
    grid-template-rows: 50% 50%;
  }
  .wrapper-empty-action {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
  }
  .wrapper-edit-item {
    margin-top: 0px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-right: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    border: none;
    margin: 0px;
  }
  .wrapper-img-upload {
    margin: 20px;
    display: flex;
    flex-direction: column;
    color: #f9f9f9;
    text-align: center;
  }
  .wrapper-scan {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .wrapper-button-action {
    box-sizing: border-box;
    display: flex;
    margin: 10px 0px 10px 0px;
    max-width: 100vw;
  }
  .wrapper-recipe-form {
    display: flex;
    width: 100%;
  }
  .wrapper-recipe-block {
    padding: 15px;
    width: 40vw;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .wrapper-recipe-header {
    margin-left: 25px;
    font-variant: small-caps;
    color: #7e7676;
    font-size: 20px;
  }
  .wrapper-input-unit {
    display: flex;
  }
  .wrapper-recipe-search {
    box-sizing: border-box;
    color: #f9f9f9;
    padding: 20px;
  }
  .wrapper-recipe-picker {
    box-sizing: border-box;
    border: 4px solid #7ec484;
    margin: 10px;
    padding-bottom: 15px;
    width: max-content;
  }
  .wrapper-recipe-list {
    overflow-y: auto;
    min-width: max-content;
  }
  .wrapper-recipe-category {
    box-sizing: border-box;
    width: 100%;
  }
  .wrapper-recipe-content {
    color: #7e7676;
    margin: 15px;
    margin-right: 25px;
  }
  .wrapper-recipe-contentheader {
    max-width: 33vw;
  }
  .wrapper-auth {
    max-width: 400px;
    margin: auto auto auto auto;
    padding: 25px;
    color: #7ec484;
    font-size: 28px;
    text-align: center;
  }
  .wrapper-loading {
    display: flex;
    justify-content: center;
  }
  .wrapper-food-form {
    display: flex;
    padding: 10px;
    padding-bottom: 20px;
    width: 33vw;
    margin-right: auto;
    margin-left: auto;
  }
  .recipe-ingredient {
    color: #f9f9f9;
    border-top: 1px solid #7e7676;
    margin: 5px;
    padding: 5px;
  }
  .recipe-ingredient:nth-child(1) {
    border-top: none;
  }
  .recipe-list-header {
    font-variant: small-caps;
    color: #7e7676;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }
  .recipe-search-header {
    font-variant: small-caps;
    color: #f9f9f9;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .recipe-list-link {
    color: #25344f;
    background-color: inherit;
    width: 100%;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }
  .recipe-list-item {
    padding: 3px;
    padding-right: 5px;
    color: #25344f;
    background-color: #7e7676;
    text-align: center;
  }
  .recipe-list-item:nth-child(even) {
    background-color: #7f5b56;
  }
  .form-eat {
    margin: 5px 0px 5px 0px;
  }
  .input-auth {
    font-size: 24px;
    background-color: #25344f;
    color: #f9f9f9;
    border: 5px solid #7ec484;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .input-eat {
    box-sizing: border-box;
    font-size: 24px;
    background-color: #25344f;
    border: 1px solid #7e7676;
    color: #7e7676;
    max-width: 50%;
    border-right: none;
    height: 32px;
  }
  .input-recipe {
    box-sizing: border-box;
    background-color: #25344f;
    color: #f9f9f9;
    border: 2px solid #7ec484;
    padding: 5px;
    width: 100%;
    margin: 0px;
  }
  .input-recipe-title {
    box-sizing: border-box;
    font-size: 24px;
    font-variant: small-caps;
    background-color: #25344f;
    border: 2px solid #7ec484;
    margin-bottom: 1em;
    width: 80%;
    color: whitesmoke;
    padding: 10px;
  }
  .input-unit {
    box-sizing: border-box;
    background-color: inherit;
    color: #7e7676;
    width: 100%;
    border: 2px solid #7e7676;
    font-size: 22px;
    padding: 5px;
  }
  .input-fridge-search {
    box-sizing: border-box;
    width: 100%;
    font-variant: small-caps;
    font-size: 28px;
    background-color: #25344f;
    border: 2px solid #7ec484;
    color: #7e7676;
    padding: 15px;
  }
  .input-food {
    background-color: #25344f;
    border: 2px solid #7ec484;
    color: #f9f9f9;
    font-size: 18px;
    padding: 5px;
    width: 100%;
  }
  .file-upload {
    color: #f9f9f9;
    margin: 20px;
  }
  .dropdown-eat {
    box-sizing: border-box;
    margin: none;
    color: #7e7676;
    background-color: #25344f;
    width: 50%;
    font-size: 24px;
    border-left: none;
    height: 32px;
  }
  .dropdown-recipe-list {
    box-sizing: border-box;
    margin: none;
    color: #7e7676;
    background-color: #25344f;
    font-size: 18px;
    height: 32px;
    width: 100%;
  }
  .dropdown-base {
    box-sizing: border-box;
    margin: none;
    color: #7e7676;
    background-color: #25344f;
    font-size: 18px;
    height: 32px;
  }
  .slider-wrapper {
    width: 100%;
    margin: 0px;
  }
  .slider-base {
    margin: 0px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    color: #25344f;
    background: rgba(148, 148, 150, 0.4);
    border: 1px solid #25344f;
    outline: none;
  }
  .slider-base::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 20px;
    background: #7ec484;
  }
  .slider-display {
    text-align: center;
    font-size: 22px;
    font-variant: small-caps;
    color: whitesmoke;
    margin: 10px;
  }
  .item-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .img-icon {
    width: 48px;
    height: 48px;
    object-fit: cover;
    margin-right: 10px;
  }
  .overlay-expiry {
    background-color: rgba(214, 202, 73, 0.8);
    color: rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12vw;
    font-stretch: expanded;
    padding-bottom: 10%;
    font-weight: bolder;
    text-align: center;
    box-sizing: border-box;
  }
  .button-id-food {
    border: none;
    background-color: inherit;
    width: 100%;
    font-size: 24px;
    text-anchor: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-auth {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #25344f;
    border: 5px solid #7ec484;
    color: #7ec484;
    padding: 15px;
    font-size: 24px;
  }
  .button-list-add {
    background-color: inherit;
    border: 2px solid #7e7676;
    color: #7e7676;
    font-size: 22px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
  .button-detail {
    width: 100%;
    padding: 15px;
  }
  .button-eat {
    background-color: #25344f;
    border: 1px solid #7e7676;
    color: #7e7676;
    padding: 10px;
    width: 100%;
  }
  .button-action {
    color: whitesmoke;
    background-color: #25344f;
    border: none;
    opacity: 80%;
    z-index: 4;
    vertical-align: middle;
  }
  .button-action:hover {
    background-color: #7e7676;
    color: #25344f;
  }
  .button-base {
    background-color: #25344f;
    color: #f9f9f9;
    border: 1px solid #7ec484;
    padding: 10px;
  }
  .button-recipe-parse {
    box-sizing: border-box;
    background-color: #25344f;
    color: #7e7676;
    border: 1px solid #7ec484;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
  }
  .button-recipe-add {
    box-sizing: border-box;
    background-color: #25344f;
    color: #f9f9f9;
    border: 1px solid #7e7676;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
  }
  .button-recipe-submit {
    box-sizing: border-box;
    background-color: #25344f;
    color: #7e7676;
    border: 1px solid #7e7676;
    padding: 10px;
    margin: 25px;
  }
  .button-link {
    width: 100%;
  }
  .food-button {
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    border: 3px solid #7ec484;
    color: #f9f9f9;
    background-color: inherit;
    font-variant: small-caps;
    font-size: 16px;
  }
  .list-container {
    box-sizing: border-box;
    width: max-content;
    display: flex;
    flex-direction: column;
  }
  .list-wrapper {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    background-color: #25344f;
    color: #f9f9f9;
    border: 2px solid #7e7676;
    margin-right: 2px;
  }
  .list-style {
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
    text-justify: middle;
    font-size: 24px;
  }
  .textblock-recipe {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    height: fit-content;
    background-color: #25344f;
    color: #f9f9f9;
    border: 2px solid #7e7676;
  }
  .input-search-warn {
    background-color: #d6ca49;
    font-size: 18px;
    color: black;
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .input-list {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #7e7676;
    font-size: 24px;
    background-color: #25344f;
    color: #7e7676;
    height: 100%;
  }
  .button-list {
    width: auto;
    box-sizing: border-box;
    background-color: #1a9c1a;
    color: #25344f;
    text-align: center;
    text-justify: center;
    font-stretch: expanded;
    border: none;
    font-weight: bolder;
    font-size: 28px;
  }
  .button-edit {
    border: none;
    width: 32px;
    background-color: #d6ca49;
    padding: 5px;
    text-align: center;
    text-justify: center;
    font-stretch: expanded;
    font-weight: bolder;
    font-size: 28px;
    margin-right: 5px;
  }
  .button-warn {
    height: 100%;
    border: none;
    width: max-content;
    background-color: #d6ca49;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    text-justify: center;
    font-stretch: expanded;
    font-weight: bolder;
    font-size: 28px;
    margin-right: 10px;
  }
  .button-delete {
    box-sizing: border-box;
    background-color: #d53529;
    color: black;
    text-align: center;
    text-justify: center;
    font-stretch: expanded;
    border: none;
    font-weight: bolder;
    font-size: 28px;
    width: min-content;
  }
  .icon-button {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .bg {
    display: flex;
  }
  .main-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #25344f;
    background-color: #25344f;
    height: max-content;
  }
  div {
    max-width: 100vw;
  }
  #add {
    font-size: 54px;
  }
}
